nb_lines=1
nb_launcher=2

[launcher_4]
command=xflock4
icon_id=15

[launcher_3]
command=xfce-setting-show
icon_id=14

[launcher_2]
command=kazehakase
icon_id=7

[launcher_1]
command=Terminal
icon_id=13

